در این سایت user میتواند ثبت نام و احراز هویت کند
user_role بر سه نوع است:
admin,customer,contractor,workshop(deactive for now)
contractorها فعلا فعالند و فعلا فقط توسط ادمین میتوانند اضافه شوند
customer میتواند یک سرویس انتخاب کند و سفارش ثبت کند(سرویس در واقع محصول ماست)
هر سرویس type دارد.(مثلا service2.type='a')
برخی سفارش ها میتوانند برای دو سرویس باشند(مثلا وقتی در یک سفارش اپشن مستند سازی فعال باشد،مشتری دارد دو سرویس درخواست میکند)
contractor میتواند سفارش های ثبت شده در service خودش را مشاهده کند و برای آن سفارش قیمت و مدت زمان تحویل مشخص کند(وقتی این کار را انجام دهد صفحه سفارش مشتری بروز میشود مثلا با این عنوان که سفارش شما توسط contrctor1 تایید شد)
یک سفارش میتواند توسط یک یا چند contractor تایید شود
سفارش بعد از تایید به shopping cart مشتری اضافه شده و قابل پرداخت یا لغو است(میتواند تیک بزند کدام سفارشش را میخواهد پرداخت کند)
سفارش بعد از پرداخت مشتری تایید نهایی میشود
فایل اولیه و نهایی مشتری توسط contractor از طریق تیکت برای مشتری ارسال میشود
مشتری میتواند از طریق ticket با پشتیبانی ارتباط برقرار 
تیکت ها فقط با مجوز admin برای مشتری/پیمانکار مربوطه ارسال و نمایش داده میشود
هر پیمانکار میتواند یک یا چند سرویس را ارائه دهد(مثلا contractor1.services=sevice[1],service[3])
(مقادیر مورد نیاز برای ثبت سفارش برای هر سرویس متفاوت است)هر سرویس فیلد های جداگانه ای برای ثبت سفارش دارد. فیلد ها در فرانت تغریف شده اند
سرویس های جدید و فیلد های مربوط به آن میتوانند در آینده به سایت اضافه اضافه شوند
هر سرویس یک دسته بندی به نام scope دارد و هر اسکوپ میتواند شامل چند سرویس باشد.
موجودیتی بنام workshop داریم که توسط ادمین میتواند به صفحه service4 اضافه شود که هر پیمانکار میتواند یک یا چند کارگاه داشته باشد
کارگاه فقط متعلق به یکی از سرویس ها است.فقط پیمانکاری که آن سرویس را(مثلا service4) ارئه میدهد میتواند کارگاه داشته باشد
هر کارگاه باید یک پیمانکار داشته باشد
هر سفارش میتواند یک سرویس داشته باشد
سفارش میتواند چند وضعیت داشته باشد:pending,rejected,paying,accepted,finished که در شرایط مختلف تغییر میکند
تیکت ها موضوع دارند: پیگیری سفارش،همکاری با ما،گزارش مشکل
تیکت ها وضعیت دارند:باز / بسته
تیکت پیگیری سفارش شامل:شماره سفارش،متن تیکت،ارسال و دریافت فایل(اگر وضعیت سفارش accepted بود، contractorوcustomer  با تایید ادمین به هم متصل میشوند)
در پروفایل پیمانکار نیز تیکتینگ برای تحویل و ارسال فایل و متن به مشتری وجود دارد
بقیه تیکت ها() بجز پیگیری سفارش () فقط متن دارند
موجودیت comment نیز داریم که برای مشتری بعد از اینکه سفارش پایان یافت،فعال میشود
مشتری میتواند از 1تا5 ستاره به پیمانکار بدهد و متن نظرش را ثبت کند(اجباری)
بعد از تایید ادمین کامنت ثبت میشود